<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav position="start">
    EJERCICIOS
    <hr>
    <ul>
      <li><a routerLink='' (click)="sidenav.close()">Inicio</a></li>
      <li><a routerLink='cuatro' (click)="sidenav.close()">Cuatro</a></li>
      <li><a routerLink='usuario-api' (click)="sidenav.close()">Usuario</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Curso multiplataforma
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

